# Keep .gitignore and .dockerignore in sync.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
tests.xml
coverage.*
codeclimate.json
/coverage
/charon
/playwright-report
/playwright-screenshots
/test-results
*.pem
/keys.txt
*.env
*.secret
*.jwk

# Exception: difference from .gitignore.
!test-e2e-rootCA.pem
