# Keep .gitignore and .dockerignore in sync.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets
/keys.txt
*.pem
*.env
*.secret
*.jwk

# Testing
tests.xml
coverage.*
codeclimate.json
/coverage
/playwright-report
/playwright-screenshots
/test-results
/a11y-report

# Binaries
/charon

# Exception: difference from .gitignore.
!test-e2e-rootCA.pem
