@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("tailwindcss/variants");

@layer base {
  .input-code-gradient {
    --input-code-gradient: linear-gradient(90deg, theme(colors.neutral.300) 2px, transparent 0);
  }

  .input-code-gradient:hover {
    --input-code-gradient: linear-gradient(90deg, theme(colors.neutral.400) 2px, transparent 0);
  }

  .input-code-gradient:focus {
    --input-code-gradient: linear-gradient(90deg, theme(colors.primary.500) 2px, transparent 0);
  }
}

@layer components {
  .link {
    @apply rounded-sm font-medium text-primary-600 outline-none drop-shadow-sm;

    text-decoration: unset;
  }

  .link.disabled {
    @apply text-primary-300 cursor-not-allowed;
  }

  a:has(img) {
    @apply outline-none;
  }

  a > img {
    @apply rounded-sm drop-shadow-sm;
  }

  .link:focus,
  a:focus > img {
    @apply ring-2 ring-primary-500 ring-offset-1;
  }

  .link.disabled:focus {
    @apply ring-primary-300;
  }

  .link:visited {
    @apply text-primary-500;
  }

  .link.disabled:visited {
    @apply text-primary-300;
  }

  .link:hover {
    @apply text-primary-700 underline underline-offset-2;
  }

  .link.disabled:hover {
    @apply text-primary-300 no-underline;
  }

  .link:active {
    @apply text-primary-500;
  }

  .link.disabled:active {
    @apply text-primary-300;
  }
}

.forward-enter-active,
.backward-enter-active {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
}

.forward-leave-active,
.backward-leave-active {
  position: absolute;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-in;
}

@media (prefers-reduced-motion) {
  .forward-enter-active,
  .forward-leave-active,
  .backward-enter-active,
  .backward-leave-active {
    transition-duration: 0;
  }
}

.forward-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.forward-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.backward-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.backward-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
